<center><h3><%= "#{t('views.titles.inventory.sale.new')} #{@inventory_item.name}" %></h3></center>
<center><p>
<%= render partial: "/shared/actions" %>
</p></center>
<%= form_for(@inventory_sale, url:  inventory_sales_path, method: :post) do |f| %>
  <%= f.hidden_field :cdate_on, value: Time.now %>
  <%= render partial: 'form', locals: {obj: f} %>
<% end %>