<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory_sale.quantity %>
</p>

<p>
  <strong>Amount</strong>
  <%= @inventory_sale.amount %>
</p>

<p>
  <strong>Cdate on:</strong>
  <%= @inventory_sale.cdate_on %>
</p>

<%= link_to 'Back', inventory_items_path %>
